body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  background-color: #f9eef4;
  min-height: 100vh;
  color: #2d2d2d;
  list-style-position: inside;
}



.App-header {
  background-color: #e7479e;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f6cbe2;
}

.App-link {
  color: #61dafb;
}

#headericon{
  color: #f6cbe2;
}

#Subheader {
  color: blueviolet !important; 
}


#headerTitle, #headerDescription{
  color: #f8dfec;
}

